In [13]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import sys

In [14]:
df = pd.read_csv("metoo_2.csv", )
df.columns = ["date_time", "tweets"]
df.tail()

                 date_time                                             tweets
35994  2017-10-28 13:47:38  b'RT @miankhaliq: A man is known by the compan...
35995  2017-10-28 13:47:30  b'RT @TaranaBurke: 1.7 million people from 85 ...
35996  2017-10-28 13:47:21  b"RT @gracedyas: I've been thinking a lot abou...
35997  2017-10-28 13:47:19  b"RT @HeForShe: Now, more than ever, it's time...
35998  2017-10-28 13:47:14  b'RT @TwitterMoments: #MeToo campaign by @Alys...

In [15]:
df.shape

(35999, 2)

In [17]:
df2 = pd.Series(' '.join(df['tweets']).lower().split()).value_counts()[:500]
# df2.to_csv("freq_words_2.csv")
df2

#metoo                              26552
b'rt                                20325
the                                 12789
for                                 11208
to                                  10213
women                                9704
just                                 8035
a                                    7983
of                                   7194
isn\xe2\x80\x99t                     7038
bucket                               6982
challenge\xe2\x80\x99                6974
@bpopken:                            6974
https://t.co/gh3y7oelby'             6974
\xe2\x80\x98ice                      6974
is                                   6741
and                                  5633
sexual                               5047
in                                   4677
on                                   4282
i                                    3635
b"rt                                 3566
this                                 3518
you                                  3213
about                                2833
with                                 2796
it                                   2766
#metoo'                              2603
are                                  2585
harassment                           2198
                                    ...
major                                 132
back                                  132
white                                 132
experiences                           131
another                               131
accused                               131
stories.                              131
b'sen.                                131
family                                130
before                                130
@misandry_kills:                      130
wants                                 129
surface                               129
wasn't                                128
happened                              128
wid                                   128
always                                128
watch                                 127
#metoo\xe2\x80\xa6                    127
:                                     126
in-laws                               125
refused\n\ngot                        125
gives                                 125
this.                                 125
old                                   125
showered                              125
regularly\n\n&amp;                    125
\xf0\x9f\x92\xb0\xf0\x9f\x92\xb0      125
decent                                124
joined                                124
Length: 500, dtype: int64

In [ ]:
for tweet in df['tweets']: